ul {
    display: block;
    width: 50%;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 0 5px 5px 0;
}

ul li {
    list-style: none;
    margin: 5px 0 0 5px;
    display: block;
    /* float: left; */
    border: 1px solid #666;
    /* width: 200px; */
    padding: 5px;
}

ul li h2 {
    margin: 0;
    border-bottom: 1px solid #666;
    /* text-align: center; */
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}

ul li h2 span {
    display: inline-block;
    float: right;
    color: #cc0000;
    font-size: 16px;
    line-height: 20px;
}

ul li h4 {
    margin: 0;
    color: #666;
    /* text-align: center; */
    font-size: 14px;
    font-weight: bold;
}

ul li#paginador a {
    display: inline-block;
    border: 1px solid #ccc;
    background: #fff;
    margin: 5px;
    padding: 3px;
    text-decoration: none;
}

ul li#paginador a.seleccionado {
    color: #fff;
    background: #cc0000;
}

ul li#paginador a:hover {
    color: #fff;
    background: #666;
}

a.borrar img {
    height: 16px;
    width: auto;
    display: block;
    margin: 0;
}

a.borrar {
    display: block;
    float: right;
}
div.error {
    border: 1px solid #c00;
    background: #cff;
    padding: 5px;
    margin: 10px 0;
    color:black;
}
/*Agregue yo: */

.star-rating {
    font-family: 'FontAwesome';
    margin: 50px auto;
}
.star-rating > fieldset {
    border: none;
    display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}
.star-rating > fieldset:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .05em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    color: #16a085;
}
.star-rating > fieldset:not(:checked) > label:before {
    content: '\f006  ';
}
.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
    color: #1abc9c;
    text-shadow: 0 0 3px #1abc9c;
}
.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
    content: '\f005  ';
}
.star-rating > fieldset > input:checked ~ label:before {
    content: '\f005  ';
}
.star-rating > fieldset > label:active {
    position: relative;
    top: 2px;
}
body {
    background: #262829;
    color: #95a5a6;
    font-family: 'Raleway';
    text-align: center;
}

body a {
    color: #16a085;
}

.numeroPaginador{
    font-size: 170%;
}

.tituloPlaylist td{
    font-family: FontAwesome;
    font-size: 130%;
    color:red;
}

.usuarioNombre{
    width:15%;
}
.contenedorBusqueda{
    width:20%;
    padding-right:30%;
    padding-top:5px;
}
.contenedorBusqueda input{
     float:left;
     margin-left:15px;
     margin-right:5px;
}
.contenedorBusqueda button{
     float:left;
}
.contenedorPlaylists{
    float:left; 
    width:15%;
    margin-left:10px;
    border: 1px solid #666;
}
.contenedorPlaylists label{
    float:left;
    width:90%;
}
.contenedorPlaylists ul{
    float:left;
    width:90%;
    margin-left: 7px;
}

.loggout a{
     float:right;
     margin-right:100px;
     margin-top: -30px;
     font-size:130%;
}

.contenedorResultados{
    float:left; 
    width:75%;
}
.contenedorResultadosPlaylist{
    float:left; 
    width:75%;
    margin-left:16%;
    padding-top:50px;
}

.contenido_reporte_us{
    margin-left:30%;
    margin-top:15px;
}

.contenido_reporte_reps{
    margin-left:35%;
    margin-top:15px;
}
.colorBlanco{
    color:white;
}
#AB_artistas form button{
    color:black;
}
#buscar_art_b{
    color:black;
}
#limpiar_artistas{
    color:black;
    float:right;
}
#AB_albumes form button{
    color:black;
}
#limpiar_albumes{
    color:black;
    float:right;
}
#buscar_alb_b{
    color:black;
}
#AB_temas form button{
    color:black;
}
#buscar_tema_b{
    color:black;
}
#limpiar_temas{
    color:black;
    float:right;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url('../fonts/RJMlAoFXXQEzZoMSUteGWLO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}